.flex-container {
  display: flex;
  // flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 35px;
  padding-bottom: 100px;
  // justify-content: space-evenly;
  align-items: center;
  margin: 0 200px;
  // position: absolute;
  // top: 80px;
  // right: 190px;
  // left: 400px;

  div {
    // position: relative;
    flex: 1 1 50%;
    height: 200px;
    // width: 300px;
    margin-bottom: 35px;
    // overflow: hidden;
    opacity: 0;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    max-width: calc(40% - 35px);

    a {
      text-decoration: none;
      img {
        background-color: #ffd700;
        height: 100%;
        width: 100%;
        object-fit: fill;
      }

      span {
        font-size: 18px;
        color: #fff;
        font-family: 'Helvetica';
      }

      &:hover {
        img {
          opacity: 0.6;
        }

        span {
          color: #ffd700;
        }
      }
    }
  }
}
